<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjn.androiddbdemo">

    <!-- 存储卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.sqlite.SimpleSQLiteActivity"></activity>
        <activity android:name=".activity.sqlite.SQLiteActivity" />
        <activity android:name=".activity.sqlite.AsyncTaskSQLiteActivity"></activity>
        <activity android:name=".activity.GreenDaoActivity"></activity>
        <activity android:name=".activity.GreenDaoCacheActivity"></activity>
        <activity android:name=".activity.GreenDaoUpdateActivity"></activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>